body
{
    background-color: #ecf1fa;
}

.homeBtn
{
    padding: 5px 10px;
    margin: 0 10px;
    font-size: 12px;
    border-radius: 50px;
    width: 10%;
}

#newPrj
{
    background-color: #5B93CA;
    color: white;
    font-size: 12px;
    position: absolute;
    right: 100px;
    padding: 5px 10px;
    width: 12%;
}

#newPrj:hover
{
    background-color: #3e658b;
}

.prjTxt
{
    font-size: 14px;
    color: #454545;
}